/* Write your code here. */

.emoji-btn {
  background-color: #ffffff33;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 3px solid #ffffff30;
  height: 170px;
  width: 170px;
  border-radius: 13px;
  cursor: pointer;
  outline: none;
}
